<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CLOG</title>
    <style type="text/css">
      html, body {
        padding:0; margin:0;
        font: normal 16px/1.57em "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Helvetica Neue",Arial,Helvetica,sans-serif;
        background:#eee;
      }
      #feed {
        margin:auto;
        width:700px;
        padding:10px;
      }
      #feed img {
        display:block;
        margin:auto;
        border:2px solid #fff;
      }
    </style>
  </head>
  
  <body>
    <div id="feed">
      <%= @body %>
    </div>
  </body>
  
</html>